body {
    
    font-family: 'Grape Nuts', cursive, 'Open Sans', sans-serif;
        line-height: 1.5;
        font-size: 15px;
        background-color: #222222;
        color: #d0cccc;
        
        padding: 16px;
}
/* .pixabay {
    width: 100%;
    display: flex;justify-content: center;
    padding-bottom: 15px;
} */

p{
    margin: 5px 0px;
}
.search-form{
    margin-bottom: 15px  ;
    display: flex;
    justify-content: center;
}
.search-form button{
    background-color: rgb(44, 163, 163);
}
.photo-card{
    margin: 10px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;align-items: center;
        justify-content: center;
}
.gallery img{
    width: 200px;
    
    
}
